html {
  text-align: center;
}
section {
  max-width: 400px;
  margin: 0 auto;
  background-color: #ebebeb;
  padding: 20px;
}
form {
  display: grid;
  justify-content: center;
  gap: 10px;
}
